.btn-artix {
  background-color: $purple;
  color: $white;
  border: 1px solid $purple;
  border-radius: 24px;
}

.btn-google {
  background-color: $google;
  color: $white;
  border: 1px solid $google;
  border-radius: 24px;
}

.btn-facebook {
  background-color: $facebook;
  color: $white;
  border: 1px solid $facebook;
  border-radius: 24px;
}