$purple: #7271C7;
$white: #ffffff;
$isabelline: #9C9C9C;
$google: #DB4437;
$facebook: #4267B2;
$dark-grey: #878787;
$orange: #FF7A7A;
$light-grey: #B5B5B5;
$green: #8BBE8A;
$yellow: #EAD178;
$violet: #B18ABE;