.font-main {
  font-family: 'Righteous', sans-serif;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-46 {
  font-size: 46px !important;
}

.text-purple {
  color: $purple;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-light-grey {
  color: $light-grey;
}

.text-underline {
  text-decoration: underline;
}