.login-form-section {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  height: 700px;
}

.login-form {
  max-width: 500px;
  min-width: 370px;
  align-self: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid rgba($isabelline, .3);
  filter: drop-shadow(5px 7px 10px rgba(0, 0, 0, 0.15));

  .separator {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid $purple;
  }

  & &-or-section {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    span {
      font-size: 12px;
      color: $purple;
      margin: 0 10px 0 10px;
    }
  }

  & &-title {
    color: $purple;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
  }

  & &-title-underline {
    color: $isabelline;
    text-align: center;
    font-size: 18px;
    border-bottom: 3px solid $purple;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }

  .switch-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    margin-top: 5px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $purple;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $purple;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}