.tag-list {
  .pill-tag {
    padding: 6px;
    margin-right: 5px;
  }

  .pill-orange {
    background-color: $orange;
  }

  .pill-green {
    background-color: $green;
  }

  .pill-yellow {
    background-color: $yellow;
  }

  .pill-violet {
    background-color: $violet;
  }
}